@page
@model EmploymentModel
@{
    ViewData["Title"] = "Employment";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Current Employer: Erie Customer Computer Applications</li>
    <li>Current Position: Primarius Support Specialist</li>
    <li>What I do: I provide support for P2 Software. A foodbank all in one solution.</li>
</ul>

<img src="\images\ECCA.jpg" height="200px" width="200px" />
<img src="\images\PrimariusLogoTagLine.png" height= "100px" width="200px" padding = "1000px" />