@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Joel Foessett Jr</h1>
    <p>This site is tells just a little about myself.</p>
</div>
