@page
@model InterestsHobbiesModel
@{
    ViewData["Title"] = "Interests + Hobbies";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some of things I enjoy.</p>

<p>@ViewData["Message"]</p>

<img src ="\images\beermugfrothy.jpg"  height="200px" width="100px" padding="100px" />
<img src ="\images\pghpenguinslogo.png" height="200px" width="100px"  padding="100px"  />
<img src ="\images\pghpirates.png" height="200px" width="100px"  padding="100px"  />
<img src ="\images\pghsteelers.png" height="200px" width="100px" padding="100px"  />
<img src ="\images\nascar.png" height="200px" width="200px"  padding="100px"  />