@page
@model PicturesModel
@{
    ViewData["Title"] = "Pictures";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some Pictures of me and my favorite people</p>

<img src = "\images\Aurora.jpg" height ="200px" width="200px"/>
<img src = "\images\Brother.jpg" height ="200px" width="200px"/>
<img src = "\images\ErinBIL.jpg" height ="200px" width="200px"/>
<img src = "\images\ErinFIL.jpg" height ="200px" width="200px"/>
<img src = "\images\Christmasnieces.jpg" height ="200px" width="200px"/>
<img src = "\images\Thefourofus.jpg" height ="200px" width="200px"/>